@page "/upload"
@using Microsoft.AspNetCore.Components
@using Microsoft.EntityFrameworkCore
@using OyeIap.Server.Data
@using OyeIap.Server.Grid
@inject IBaseGridControls Filters
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation
@inject InstitucionQueryAdapter QueryAdapter

@model OyeIap.Server.Pages.IndexUploadModel

@{
    ViewData["Title"] = "Upload Files";
}
    <h3>Subir Archivos</h3>

    <br />

    <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="IndexUpload">
        <input type="file" name="files" multiple />
        <input type="submit" value="Subir" />
    </form>
