@page "/upload"
@inject IBaseGridControls Filters
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject IWebHostEnvironment WebHostEnvironment
@inject NavigationManager Navigation
@inject TutorQueryAdapter QueryAdapter
@inject HttpClient HttpClient

<div class="text-center">
    <h1 class="display-4">Subir Archivos</h1>
    <InputFile OnChange="UploadFile" />
    <br />
</div>
<br/>
<div class="text-center">
    <button @onclick="UploadFile" class="btn btn-primary">Cargar</button>
</div>

@code {
    private IBrowserFile file;

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        file = e.File;
    }

    private async Task UploadFile()
    {
        if (file == null)
        {
            return;
        }

        using (var content = new MultipartFormDataContent())
        {
            using (var stream = file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024)) // 10 MB
            {
                content.Add(new StreamContent(stream), "file", file.Name);

                var response = await HttpClient.PostAsync("/CSVReader/Upload", content);

                if (response.IsSuccessStatusCode)
                {
                    // Redirigir a una página específica después de una carga exitosa
                    Navigation.NavigateTo("/success-page");
                }
                else
                {
                    // Manejar error de carga
                    Console.WriteLine("Error al subir el archivo");
                }
            }
        }
    }
}